@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Pavanam&display=swap');

/* Reset de configuração */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: #AC2C2C;
    padding: 20px 50px;
}

/* Botões padronizados */

.btn-default {
    background-color: #AC2C2C;
    padding: 4px 50px;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.btn-default a {
    color: white;
    text-decoration: none;
}

.btn-default a:hover {
    color: white;
    transition: 0.3s;
}

.btn-default:hover {
    background-color: #E33A3A;
    transition: 0.3s;
}

/* NAVBAR  */

.navlink {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    margin: 0px 10px;
}

.navlink:hover {
    color: #FFF689;
    transition: 0.3s;
}

/* BOTÕES */

.botaonav {
    background-color: #E33A3A;
    padding: 4px 16px;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 10px;
}

.botaonav a {
    color: white;
    text-decoration: none;
}

.botaonav a:hover {
    color: black;
    transition: 0.3s;
}

.botaonav:hover {
    background-color: #FFF689;
    transition: 0.3s;
}

/* Main top  */

.cont-1 {
background-color: #E33A3A;
}

.img{
    background-image: url(../IMG/Background-home4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

/* Main middle  */

.cont-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 20px 160px;
}

.cont-2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.cont-2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 3%;
    text-align: center;
}

.cont-2 button {
    margin-left: 3%;
    font-size: 30px;
}

.cont-2 img {
    width: 600px;
}

/* Main bottom  */

.cont-3 {
    margin-top: 20px;
    margin-top:30px;
    height:   370px;
    width: 300px !important;
    border-radius: 0px 50px 0px 0px;
    background-color:#E3E3E3;
    box-shadow: 3px 4px 3px rgba(90, 84, 84, 0.25);
}

.cont-3:hover {
    transform: scale(1.2);
    transition: 0.5s;
    background-color: #F7F7F7;
    box-shadow: 0 0 30px 10px #d6d6d6;

}

/* FOOTER  */

footer {
    background-color: #E33A3A;
}

#footer {
    font-family: 'Open Sans', sans-serif;
    margin-top: 160px;
}

#sec-1 h5 {
    font-size: 20px;
    font-weight: 700
}

#sec-2 a {
    font-weight: 700;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#sec-2 a:hover {
    color: #FFF689;
    transition: 0.3s;
}

#sec-3 a {
    margin: 10px;
    color: white;
    font-size: 40px;
}

#sec-3 a:hover {
    color: #AC2C2C;
    transition: 0.3s;
}

/* Responsividade main  */

@media(max-width:1000px){
    .cont-2 {
        flex-wrap: wrap;
    }
}

@media(max-width:720px){
    .cont-1 p {
        color: black;
        align-items: center;
        width: 500px;
    }
}